In [1]:
import pandas as pd

In [2]:
old_books = pd.read_csv("./보존서고.csv")

In [3]:
forth_rentals=pd.read_csv("./4층대출정보.csv")

C:\Users\claia\AppData\Local\Temp\ipykernel_17884\945464081.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  forth_rentals=pd.read_csv("./4층대출정보.csv")

In [4]:
forth_rentals.head()

,도서ID,대출일자,등록일자,수서방법,주류,강목,요목,분류코드,ISBN,서명,저자,출판사,소장위치,대표년도
0,SS_214669,2004-12-06 12:46:19,1994/10/12,수서정보없음,철학,논리학,논리학,170.0,0,니코마코스 倫理學,Aristoteles,서광사,4층인문,1984.0
1,SS_214669,2005-03-07 14:46:11,1994/10/12,수서정보없음,철학,논리학,논리학,170.0,0,니코마코스 倫理學,Aristoteles,서광사,4층인문,1984.0
2,SS_214669,2007-04-25 15:49:29,1994/10/12,수서정보없음,철학,논리학,논리학,170.0,0,니코마코스 倫理學,Aristoteles,서광사,4층인문,1984.0
3,SS_214669,2007-03-06 13:25:05,1994/10/12,수서정보없음,철학,논리학,논리학,170.0,0,니코마코스 倫理學,Aristoteles,서광사,4층인문,1984.0
4,SS_214669,2007-05-08 14:56:13,1994/10/12,수서정보없음,철학,논리학,논리학,170.0,0,니코마코스 倫理學,Aristoteles,서광사,4층인문,1984.0

In [5]:
old_rentals = pd.read_csv("./보존서고대출정보.csv")

C:\Users\claia\AppData\Local\Temp\ipykernel_17884\552668267.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  old_rentals = pd.read_csv("./보존서고대출정보.csv")

In [6]:
all_rentals = pd.read_csv("./총대출정보.csv")

C:\Users\claia\AppData\Local\Temp\ipykernel_17884\3581521234.py:1: DtypeWarning: Columns (8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  all_rentals = pd.read_csv("./총대출정보.csv")

In [7]:
forth_rentals["대출연도"] = pd.to_datetime(forth_rentals["대출일자"]).dt.year
book_rental_info_in_forth = forth_rentals.groupby(["도서ID", "대출연도"]).size().unstack(fill_value=0)
book_rental_info_in_forth

대출연도,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
도서ID,,,,,,,,,,,,,,,,,,,,,
SS_000044,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
SS_000052,0,2,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
SS_000112,0,0,0,1,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
SS_000159,0,0,0,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
SS_000183,0,0,0,0,0,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SS_301144,0,0,0,0,0,0,0,0,0,0,...,1,0,1,1,0,0,0,0,0,0
SS_301147,0,0,0,0,0,0,0,2,4,3,...,0,1,3,2,0,0,1,0,1,0
SS_301148,0,0,0,0,0,0,0,3,1,2,...,2,2,1,1,1,0,0,0,1,0
SS_301149,0,0,0,0,0,0,0,2,2,1,...,0,2,0,1,1,1,0,0,0,0
SS_301150,0,0,0,0,0,0,0,3,0,1,...,1,0,1,0,0,0,0,0,0,0

In [8]:
old_rentals["대출연도"] = pd.to_datetime(old_rentals["대출일자"]).dt.year
book_rental_info_in_old = old_rentals.groupby(["도서ID", "대출연도"]).size().unstack(fill_value=0)
book_rental_info_in_old

대출연도,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
도서ID,,,,,,,,,,,,,,,,,,,,,
SS_000018,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
SS_000025,0,5,0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
SS_000026,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
SS_000027,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
SS_000028,0,0,0,2,0,0,1,3,0,1,...,0,1,3,2,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SS_301136,0,0,0,0,0,0,0,8,3,4,...,1,1,0,0,1,0,0,0,0,0
SS_301137,0,0,0,0,0,0,0,1,2,2,...,0,1,1,0,0,0,0,0,0,0
SS_301143,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
SS_301145,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
SS_301146,0,0,0,0,0,0,0,0,1,1,...,1,0,0,0,0,0,0,0,0,0

In [9]:
recent_years = range(2020, 2025)

# 최근 5년 대출량 합계 계산
book_rental_info_in_old["최근5년총대출량"] = book_rental_info_in_old[recent_years].sum(axis=1)

# 대출량이 0보다 큰지 여부 확인
book_rental_info_in_old["대출량0이하"] = book_rental_info_in_old["최근5년총대출량"] <= 0
book_rental_info_in_old

대출연도,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,...,2017,2018,2019,2020,2021,2022,2023,2024,최근5년총대출량,대출량0이하
도서ID,,,,,,,,,,,,,,,,,,,,,
SS_000018,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,True
SS_000025,0,5,0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,True
SS_000026,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,True
SS_000027,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,True
SS_000028,0,0,0,2,0,0,1,3,0,1,...,3,2,1,0,0,0,0,0,0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SS_301136,0,0,0,0,0,0,0,8,3,4,...,0,0,1,0,0,0,0,0,0,True
SS_301137,0,0,0,0,0,0,0,1,2,2,...,1,0,0,0,0,0,0,0,0,True
SS_301143,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,True
SS_301145,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,True
SS_301146,0,0,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,True

In [10]:
book_rental_info_in_old[book_rental_info_in_old["대출량0이하"] == False]

대출연도,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,...,2017,2018,2019,2020,2021,2022,2023,2024,최근5년총대출량,대출량0이하
도서ID,,,,,,,,,,,,,,,,,,,,,
SS_000227,0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,False
SS_000244,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,False
SS_000331,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,False
SS_000358,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,False
SS_000397,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,2,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SS_300961,0,0,0,0,0,0,0,1,4,3,...,1,0,0,1,1,0,0,0,2,False
SS_301001,0,0,0,0,0,0,0,5,7,6,...,0,0,0,1,0,0,0,0,1,False
SS_301054,0,0,0,0,0,0,0,2,1,0,...,1,0,0,0,1,0,0,0,1,False
SS_301066,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,False
SS_301077,0,0,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,1,False

In [11]:
book_rental_info_in_old["최근5년총대출량"].unique()

array([ 0,  1,  2,  4,  3,  5, 23,  6,  7, 20, 12, 10, 13,  8, 19,  9, 11,
       18, 15, 14, 22, 21, 17], dtype=int64)

In [12]:
old_books[old_books["도서ID"] == "SS_000227"]

,도서ID,등록일자,수서방법,주류,강목,요목,분류코드,ISBN,서명,저자,출판사,소장위치,대표년도
21916,SS_000227,1983/03/08,수서정보없음,철학,"윤리학,도덕철학",국가 및 정치 윤리,193,9.78E+12,Kant's transcendental idealism :an interpretat...,"Allison, Henry E",Yale University Press,보존서고,1983.0

In [13]:
book_rental_info_in_old[range(2014, 2025)]

대출연도       2014  2015  2016  2017  2018  2019  2020  2021  2022  2023  2024
도서ID
SS_000018     0     0     0     0     0     0     0     0     0     0     0
SS_000025     0     0     0     0     0     0     0     0     0     0     0
SS_000026     0     0     0     0     0     0     0     0     0     0     0
SS_000027     0     0     0     0     1     0     0     0     0     0     0
SS_000028     0     0     1     3     2     1     0     0     0     0     0
...         ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
SS_301136     1     1     1     0     0     1     0     0     0     0     0
SS_301137     0     0     1     1     0     0     0     0     0     0     0
SS_301143     0     0     0     0     0     0     0     0     0     0     0
SS_301145     0     0     0     0     0     0     0     0     0     0     0
SS_301146     1     1     0     0     0     0     0     0     0     0     0

[51128 rows x 11 columns]

In [14]:
# 대출 횟수가 0 인 도서 ID 도 넣어야 함
books_rental_info_in_old[book_rental_info_in_old[range(2014, 2025)].sum] == 0

NameError: name 'books_rental_info_in_old' is not defined

In [15]:
old_books[old_books["주류"] == "총류"]

,도서ID,등록일자,수서방법,주류,강목,요목,분류코드,ISBN,서명,저자,출판사,소장위치,대표년도
6,SS_247380,1997/03/26,수서정보없음,총류,"일반전집,총서",개인의 일반전집,81.2,0,東晉畺域志 1 - 3,홍량길,中華書局,보존서고,1985.0
7,SS_247379,1997/03/26,수서정보없음,총류,"일반전집,총서",개인의 일반전집,81.2,0,東晉畺域志 1 - 3,홍량길,中華書局,보존서고,1985.0
8,SS_247378,1997/03/26,수서정보없음,총류,"일반전집,총서",개인의 일반전집,81.2,0,東晉畺域志 1 - 3,홍량길,中華書局,보존서고,1985.0
15,SS_006668,1997/03/26,수서정보없음,총류,"일반전집,총서",개인의 일반전집,81.2,0,涇典釋文,陸德明,中華書局,보존서고,1985.0
16,SS_006667,1997/03/26,수서정보없음,총류,"일반전집,총서",개인의 일반전집,81.2,0,涇典釋文,陸德明,中華書局,보존서고,1985.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
138498,SS_155951,2024/07/04,수서정보없음,총류,"일반학회,단체,협회,기관,연구기관",박물관학,69.5,9790000000000.0,평강 채씨 가문의 문장가들,이유나,수원화성박물관,보존서고,2023.0
138549,SS_155950,2024/07/04,수서정보없음,총류,"일반학회,단체,협회,기관,연구기관",박물관학,69.5,9790000000000.0,평강 채씨 소감공파 후손가 기증유물,이유나,수원화성박물관,보존서고,2023.0
138584,SS_141526,2024/09/20,이용자희망,총류,"신문,저널리즘","신문,저널리즘",70.43,9790000000000.0,가짜뉴스의 사회학,박창호,서울경제경영,보존서고,2024.0
138585,SS_141524,2024/09/20,이용자희망,총류,"신문,저널리즘","신문,저널리즘",70.43,9790000000000.0,가짜뉴스의 사회학,박창호,서울경제경영,보존서고,2024.0
138586,SS_141525,2024/09/20,이용자희망,총류,"신문,저널리즘","신문,저널리즘",70.43,9790000000000.0,가짜뉴스의 사회학,박창호,서울경제경영,보존서고,2024.0

In [16]:
len(old_books)

138697

In [17]:
17401 / 138697

0.1254605362769202

In [18]:
rental = pd.read_csv("./대출정보.csv", encoding="euc-kr")

In [19]:
rental

             도서ID                 대출일시
0       SS_213406  2004-11-15 12:33:01
1       SS_213528  2004-12-04 12:20:33
2       SS_213528  2004-11-18 18:05:08
3       SS_213529  2004-12-03 11:30:45
4       SS_213529  2004-11-10 12:56:59
...           ...                  ...
916704  SS_171677  2024-04-08 16:09:33
916705  SS_237568  2024-04-08 16:39:56
916706  SS_072799  2024-04-08 18:07:44
916707  SS_025230  2024-04-09 10:29:03
916708  SS_072425  2024-04-09 10:29:04

[916709 rows x 2 columns]